<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Error</title>
    <script type="text/javascript" th:src="@{../../static/js/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../../static/js/control.js}">
        /*$(function () {
            // $(document).on("click", "#btn", function() {
            //     alert('aaa');
            //     window.location.reload();
            // });
            setTimeout(function () {
                fresh();
            },10000);
            setInterval(function () {
                fresh();
            },10000);
            function fresh() {
                window.location.reload();
            }
        })*/
    </script>
</head>
<body>
    <table border="1" cellspacing="0" id="table_refresh">
        <thead>
            <tr>
                <td>家电名</td>
                <td>维修人</td>
                <td>上报情况</td>
                <td>维修状况</td>
            </tr>
        </thead>
        <br/>
        <tbody id="tbody1">
            <tr th:each="repair:${repairForm}">
                <td><span th:text="${repair.errorApplianceName}"/></td>
                <td><span th:text="${repair.repairMan}"/></td>
                <td>
                    <!--<span th:if="${repair.uploadFlag} eq '1'">已上报</span>-->
                    <!--<span th:if="${repair.uploadFlag} eq '0'">未上报</span>-->
                    <span>
                        <a th:if="${repair.uploadFlag} eq '1'">已上报</a>
                        <a th:if="${repair.uploadFlag} eq '0'">未上报</a>
                    </span>
                </td>
                <td>
                    <span th:if="${repair.finishFlag} eq '1'">已修理</span>
                    <span th:if="${repair.finishFlag} eq '0'">未修理</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>