<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>家电展示</title>
    <link type="text/css" href="../../static/css/index.css" rel="stylesheet"/>
    <link type="text/css" href="../../static/css/base.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"/>
    <script type="text/javascript" src="../../static/js/control.js"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/css/style.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center middle-box1">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content text-center">
                <h2 class="TitleText" align="center">家电详情</h2>
                <form action="" method="post">
                    <div class="ibox-content text-center">
                        <div class="pagination pull-left">
                            <a th:href="@{/Appliance/AddPage}"><input type="button" class="btn btn-sm btn-block btn-white full-width m-b" name="add" value="添加"/></a>
                        </div>
                        <div class="pagination pull-right">
                            <a th:href="@{/user/exit}"><input type="button" class="btn btn-sm btn-block btn-white full-width m-b" name="add" value="退出"/></a>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>图标</td>
                                <td>家电编号</td>
                                <td>家电名</td>
                                <td>运行状态</td>
                                <td>家电状态</td>
                                <td>开启/关闭</td>
                                <td>详情</td>
                                <td>删除</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="appliance:${applianceList}">
                                    <td><img src="../static/img/KHCFDC_数据.png"/></td>
                                    <td><input th:value="${appliance.applianceId}"  readonly="readonly" id="applianceId" class="textbox"/></td>
                                    <td><input th:value="*{appliance.applianceName}" readonly="readonly" id="applianceName" class="textbox"/></td>
                                    <td>
                                        <span>
                                            <p th:if="${appliance.flag} eq '1'">运行中</p>
                                            <p th:if="${appliance.flag} eq '0'">未运行</p>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <p th:if="${appliance.errorFlag} eq '1'">正常运作中</p>
                                            <p th:if="${appliance.errorFlag} eq '0'">异常！</p>
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" id="NO" class="btn btn-sm btn-block btn-white full-width m-b">开启</button><br/>
                                        <button type="button" id="OFF" class="btn btn-sm btn-block btn-white full-width m-b">关闭</button><br/>
                                    </td>
                                    <td>
                                        <a th:href="@{/Handle/selectOne(applianceId=*{appliance.applianceId})}">详情</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/Appliance/deleteApplianceById(applianceId=*{appliance.applianceId})}">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("#NO").click(function () {
            $.ajax({
                //数据接收方法地址
                url:"/Handle/updateFlagNo",
                //要传的参数,"startTime": new Date()
                data: {"applianceName": $("#applianceName").val()},
                //返回参数格式
                dataType:"json",
                //传送方式
                type:"POST",
                //回调函数
                success:function (date) {
                    if (date == 1) {
                        $("span:eq(0)").html("运行中");
                        window.location.reload();
                    }
                },
                error: function (XMLHttpResponse, textStatus, errorThrown) {
                    console.log("1 异步调用返回失败,XMLHttpResponse.readyState:"+XMLHttpResponse.readyState);
                    console.log("2 异步调用返回失败,XMLHttpResponse.status:"+XMLHttpResponse.status);
                    console.log("3 异步调用返回失败,textStatus:"+textStatus);
                    console.log("4 异步调用返回失败,errorThrown:"+errorThrown);
                }
            })
            setInterval(function(){
                document.getElementById('time').value=new Date().toLocaleTimeString()
            },1000);
        })

        $("#OFF").click(function () {
            $.ajax({
                //数据接收方法地址
                url:"/Handle/updateFlagOFF",
                //要传的参数,"startTime": new Date()
                data: {"applianceName": $("#applianceName").val()},
                //返回参数格式
                dataType:"json",
                //传送方式
                type:"POST",
                //回调函数
                success:function (date) {
                    if (date == 0) {
                        $("span:eq(0)").html("未运行")
                    }
                }
            })
            clearInterval(t);
            window.location.reload();
        })
        //预加载函数结束范围
    })
</script>
</html>