<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.weektest.dao.RepairFormDao">


            <!--插入操作-->                          <!--映射的类的地址-->                             <!--主键-->
    <insert id="insert" parameterType="com.qf.weektest.entity.RepairForm" useGeneratedKeys="true" keyProperty="errorApplianceName">
    INSERT INTO `RepairForm` (
	`errorApplianceName`,
	`repairMan`
    )
    VALUES
    (
    #{errorApplianceName},
    #{repairMan}
    );
    </insert>


    <!--根据id 删除数据-->
    <delete id="delete" >
        delete from `RepairForm` where errorApplianceName =#{errorApplianceName};
    </delete>

    <!--获取所有errorAppliance的name-->
    <select id="getAllErrorAppliance" resultType="RepairForm">
        select `errorApplianceName`,`repairMan`,uploadFlag,finishFlag from repairform
    </select>

</mapper>