<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.weektest.dao.UserDao">

	<!--&lt;!&ndash; 配置 查询结果的列名和实体类的属性名的对应关系 &ndash;&gt;-->
	<!--<resultMap id="userMap" type="user">-->
		<!--&lt;!&ndash; 主键字段的对应 &ndash;&gt;-->
		<!--<id property="id" column="id"></id>-->
		<!--&lt;!&ndash;非主键字段的对应&ndash;&gt;-->
		<!--<result property="username" column="username"></result>-->
		<!--<result property="password" column="password"></result>-->
		<!--<result property="phone" column="phone"></result>-->
		<!--<result property="groupName" column="groupName"></result>-->
		<!--<result column="groupName" jdbcType="TIMESTAMP" property="groupName" javaType="java.util.Date" ></result>-->
	<!--</resultMap>-->


    <!--&lt;!&ndash;插入操作&ndash;&gt;                          &lt;!&ndash;映射的类的地址&ndash;&gt;                             &lt;!&ndash;主键&ndash;&gt;-->
    <!--<insert id="insert" parameterType="com.qf.weektest.entity.RepairForm" useGeneratedKeys="true" keyProperty="errorApplianceName">-->
    <!--INSERT INTO `RepairForm` (-->
    <!--`errorApplianceName`,-->
    <!--`repairMan`-->
    <!--)-->
    <!--VALUES-->
    <!--(-->
    <!--#{errorApplianceName},-->
    <!--#{repairMan}-->
    <!--);-->
    <!--</insert>-->


    <!--&lt;!&ndash;根据id 删除数据&ndash;&gt;-->
    <!--<delete id="delete" >-->
    <!--delete from `RepairForm` where errorApplianceName =#{errorApplianceName};-->
    <!--</delete>-->


    <select id="findAll" resultType="User">
        select id,username,password,phone,createTime,groupName from user
    </select>
	<select id="findByName" parameterType="String" resultType="User">
        select id,username,password,phone,groupName from user where username=#{username}
    </select>
	<select id="findByNameAndPassword" parameterType="User" resultType="User">
        select username,password from user where username=#{username} and password=#{password}
    </select>

    <insert id="addUser"  useGeneratedKeys="true" keyProperty="id">

INSERT INTO `user`
	(
	`username`,
	`password`,
	`phone`,
	`createTime`,
	`groupName`
	)
VALUES
	(
	#{username},
	#{password},
	#{phone},
	now(),
	#{groupName}
	);

    </insert>

</mapper>